*{
  margin: 0;
  padding: 0;
}
/* NAVIGATION BAR */
.nav-container{
  width: 100%;
  display: flex;
  font: 30px Sans-serif;
  color: #FF335B;
  display: flex;
  margin: 15px;
}
.left-nav{
  width: 50%;
}
.right-nav{
  width: 50%;
  text-align: right;
  margin-right: 25px;
}
.right-nav Button{
  background-color: #FF335B;
}
.right-nav Button:hover{
  background-color: #FF335B;
  color: white;
}
